.about__img {
  border-radius: 50%;
  grid-area: img;
  height: 100px;
  margin-right: 15px;
  object-fit: cover;
  width: 100px;
}

@media (min-width: 768px) {
  .about__img {
    align-self: center;
    margin: 0 0 15px;
  }
}
